<div class="login-root">
  <div class="login-box"> 
    <img
      src="assets/images/logo-milkroad.png"
      class="logo-image"
      (error)="onImageError($event)"
    />     
    
    <p class="subtitle">Bem Vindo</p>

    <form [formGroup]="form" (ngSubmit)="submit()" class="login-form">
      <div class="input-wrapper">
        <input
          type="email"
          placeholder="E-mail"
          formControlName="email"
          class="custom-input"
        />
      </div>

      <div class="input-wrapper">
        <input
          type="password"
          placeholder="Senha"
          formControlName="senha"
          class="custom-input"
        />
      </div>

      <button
        mat-raised-button
        color="primary"
        class="login-btn"
        [disabled]="loading"
      >
        Login
      </button>
    </form>
  </div>
</div>
