<div class="menu-root">
  <h1 class="menu-title">Menu</h1>

  <div class="menu-grid">
    <button class="menu-btn" (click)="navigate('cadastro-cliente')">
      Cadastro de Cliente
    </button>
    <button class="menu-btn" (click)="navigate('atualizar-rotas')">
      Atualizar Rotas
    </button>
    <button class="menu-btn" (click)="navigate('lista-clientes')">
      Lista de Cliente
    </button>
    <button class="menu-btn" (click)="navigate('atualizacao-entrega')">
      Atualização de Entrega
    </button>
  </div>
</div>