<div class="menu-root">
  <button class="btn-voltar" (click)="voltar()">←</button>
  <h1 class="menu-title">Menu</h1>

  <div class="menu-grid">
    <!-- Atualizar Rotas -->
    <button type="button" class="menu-btn" routerLink="/atualizacao-rota">
      Atualizar Rotas
    </button>

    <!-- Cadastro de Cliente -->
    <button type="button" class="menu-btn" routerLink="/cadastro-cliente">
      Cadastro de Cliente
    </button>

    <!-- Cancelar Entrega -->
    <button type="button" class="menu-btn" routerLink="/cancelar-entrega">
      Cancelar Entrega
    </button>

    <!-- Entregas do dia  (agora aponta para entregas) -->
    <button type="button" class="menu-btn" routerLink="/lista-entrega">
      Entregas do Dia
    </button>

  </div>
</div>